body, h1, h2, h3, h4, h5, p{
    margin: 0;
    font-family: 'Overpass', sans-serif;
    
}
a{
    text-decoration:none;
    color: black;
}
nav{
    overflow: auto;
    width:100vw;
    background-color: #F5F5F5;
    opacity: 1;
    position: fixed;
    border-bottom: 1px solid black;
    z-index: 100;

}

.navegador-izq{
    float: left;
    width:50%;
    padding-left: 2vw;
}
.navegador-der{
    float: left;
    width:40%;
    text-align:center;
    margin-top: 13px;
}
.logo{
    width: 160px;
    height:auto;
    padding-top: 7px;
}
.opcion-nav{
    display: inline;
    padding-left: 14px;
    padding-right: 7px;
    color: black;
    
}
.separador-nav{
    display: inline;
}
.opcion-nav:hover{
    
    color: #FCA444;
    border: 1px solid white;
    border-radius: 30px;
    background-color:white;
}

.fondo {
    background-image: url(../Imagenes/graywall.jpg);
    padding-top: 100px;
    padding-bottom:20px ;
    background-repeat: no-repeat;
    background-size: cover;
}
.imagen {
    margin-left: 0px;
    height: 100px;
    padding-top: 50px;
}
.texto2 {
    text-align: center;
    margin-right: 20px;
    padding-bottom: 10px;
    padding-top: 20px;
}
.formulario {
    width: 20%;
    margin: 0 auto;
    background-color: #F5F5F5;
    text-align: center;
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 10%;
    background-size: 100% auto;
}
.estado {
    padding-bottom: 20px;
    padding-top: 10px;
}
.box {
    padding-bottom: 20px;
}
footer{
    background-color: #FCA444;
    overflow: auto;
}
.contenedor-footer_logo{
    padding-left: 3vw;
    padding-top: 4vh;
}
.contenedor-footer_redes{
    padding-top: 3vh;
    padding-bottom: 2vh;
    padding-left: 2vh;
}
.contenedor-footer_logo, .contenedor-footer_cuenta, .contenedor-footer_nosotros, .contenedor-footer_contactenos{
    float: left;
    width: 20%;
}
.contenedor-footer_cuenta, .contenedor-footer_nosotros{
    border-right: 1px solid black;
    padding-bottom: 4vw;
}
.contenedor-footer_nosotros, .contenedor-footer_contactenos{
    padding-left: 5vw;

    
}
.center{
    text-align:center;
}
.padding-bottom{
    padding-bottom: 15vh;
}
.padding-bottom_small{
    padding-bottom:5vh;
}
.padding-top{
    padding-top:15vh;
}
.padding-top_small{
    padding-top: 5vh;
}
.sidenav {
    height: 100%; 
    width: 0; 
    position: fixed; 
    z-index: 95; 
    top: 0; 
    left: 0;
    background-color: #FCA444; 
    overflow-x: hidden; 
    padding-top: 150px; 
    transition: 0.5s; 

  }

  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
    transition: 0.3s;
  }

  .sidenav a:hover {
    color: #f1f1f1;
  }

  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    padding-top: 100px;
  }
  
  .fa-bars{
    position: fixed;
    margin-top: 10vh;

  }
  .contenedor-izq{
    float: left;
    width:50%;
  }
  .contenedor-der{
    float: left;
    width:50%;
  }
  .center{
    text-align:center;
  }
  .padding-bottom{
    padding-bottom: 15vh;
  }
  .padding-bottom_small{
    padding-bottom:5vh;
  }
  .padding-top{
    padding-top:15vh;
  }
  .padding-top_small{
    padding-top: 5vh;
  }
  .texto-rojo {
    color: red;
}
 .ocultar {
    display: none;
}
  