body {
	box-sizing: border-box;
	margin: 0;
	font-family: 'Overpass', sans-serif;
}

a {
	color: black;
	text-decoration: none;
}

.caja {
	overflow: auto;
}

nav{
    overflow: auto;
    width:100vw;
    background-color: #F5F5F5;
    position: fixed;
}

.navegador-izq{
    float: left;
    width:50%;
    padding-left: 2vw;
}

.navegador-der{
    float: left;
    width:45%;
    text-align:right;
    margin-top: 13px;
}

.logo{
    padding: 7px;
    width: 160px;
    height:auto;
}

.opcion-nav{
    display: inline;
    padding-left: 14px;
    padding-right: 7px;
    color: black; 
}

.separador-nav{
    display: inline;
}

.opcion-nav:hover{
    
    color: #FCA444;
    border: 1px solid white;
    border-radius: 30px;
    background-color:white;
}

.fondo {
	background-image: url(../Imagenes/graywall.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	height: 100%;
	background-position: center;
}

.centro {
	background-color: #F5F5F5;
	position: absolute;
	left: 35%;
	right: 35%;
	top: 23%;
	text-align: justify;
	padding: 3%;
    border-radius: 10px;
}

.centro h1 {
	text-align: center;
}

.centro input {
	display: block;
}

.centro button {
	margin-top: 5%;
}
.perfil {
    width: 500px;
}
button {
    text-decoration: none;
    padding: 10px;
    font-weight: 10;
    font-size: 15px;
    color: black;
    border-radius: 6px;
    background-color: #FFE457; 
    border: 2px solid #FCA444;
    
    
}
button:hover {
    color: rgb(0, 0, 0);
    background-color: #FCA444;
    border: 2px solid #FFE457;
}
div {
    box-sizing: border-box;
}

.texto-rojo {
    color: red;
}
.ocultar {
    display: none;
}